#MySQL
MYSQL_DATABASE=ebcs
MYSQL_USER=ebcs_user
MYSQL_PASSWORD=Ebsc@2569
MYSQL_ROOT_PASSWORD=Root@2569

#Flask
FLASK_SECRET_KEY=41ddbfd4f5f4b8c6be9674659a0cc77fe3aa998c549dc65f1a7caf63576f332b
JWT_SECRET_KEY=b86704815111d06955ab0b1ccbf5fdbfc4d4ed0ccea283f990b5c6d4469bbbf8

#Redis
REDIS_URL=//redis:6379/0
OTP_EXPIRE_SECONDS=300

#SMS
SMS_MODE=your_sms_mode
SMS_API_KEY=your_sms_api_key
SMS_SENDER=NBTC

#Upload
MAX_UPLOAD_SIZE=10